<footer>
        {{!-- Here's where the footer site will go --}}
        <div class="footer-text">
            <a href="/">Link</a>
            <p>Enter Company Info</p>
            <p>Copyright &copy; 2019. All Rights Reserved.</p>
        </div>

    </footer>