{{!-- Organism --}}
<nav class="o-header-nav">
    {{!-- Molecul --}}
    <ul class="m-header-nav__list">
        {{> closeButton}}
        {{#each data}}
            {{> link}}
        {{/each}}
    </ul>

    {{> hamburger}}
</nav>